---
---

@import "{{ site.theme }}";


body {
    color: #404040;
}

.inner {
    width: 840px;
}


a {
    color: #0c00d5;
}

a:hover {
    color: #5a52e1;
}


a.button {
    width: auto;
    padding-right: 18px;
}

a.button.download span {
    background: transparent url(../images/download-icon.png) 12px 50% no-repeat;
}

a.button.paper span {
    background: transparent url(../images/paper-icon.png) 12px 50% no-repeat;
    padding-left: 42px;
}


blockquote {
    font-size: 1em;
    padding-left: 20px;
    border-left: 6px solid #cacaca;
}


table {
    font-size: 0.9em;
    margin-bottom: 20px;
    border: 0 none;
}

thead {
    border-bottom: 2px solid #404040;
}

td, th {
    border: 0 none;
    padding: 0.2em 0.6em;
}

th {
    font-weight: bold;
}

td {
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: rgba(255,255,255,0.4);
}


ul {
    margin-left: 1em;
}

ul li {
    list-style: circle;
    padding-left: 0.5em;
}


footer .logo {
    float: right;
    width: auto;
    height: 60px;
}

footer .imprint-link {
    color: inherit;
}